/* RESET CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END RESET CSS */

body {
  font-family: Roboto;
  font-size: 16px;
  background-color: #7A9ACF;
  display: flex;
  flex-direction:   column;
  align-items: center;
}

.container  {
  width: 65%;
  min-height: 40em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.banner {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 9px 20px 9px #0000002b;
  width: 100%;
}

.banner__produtos {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  text-align: center;
  flex-wrap: wrap;
  padding: 45px;
}

.produto {
  width: 255px;
  align-self: stretch;
  border-radius: 4px;
  transition: all .1s;
  padding: 8px;
}

.produto:hover {
  background-color: #7a9acf26;
}

.produto::after {
  content: "";
  display: none;
  width: 70%;
  /* height: 1px; */
  border-bottom: 1px solid #A7A7A7;
  margin: 20px auto;
}

@media screen and (max-width: 750px) {
  .produto::after {
    display: block;
  }
}

.produto img {
  height: 90px;
  margin-bottom: 48px;
}

.produto h4 {
  text-transform: uppercase;
  margin-bottom: 28px;
  font-size: 1.4rem;
  letter-spacing: 3px;
  font-weight: 600;
  color: #5572D6;
}

.produto p {
  margin: 0 auto 28px auto;
  color: #A7A7A7;
  line-height: 1.5;
  max-width: 255px;
}

.produto__preco {
  color: #5572D6;
  font-size: 2.2rem;
  font-weight: 600;
  position: relative;
  width: 120px;
  margin: 0 auto;
}

.produto__preco span {
  font-size: 1rem;
}

.produto__preco span:first-child {
  position: absolute;
  top: 3px;
  left: 3px;
  
}

.produto__preco span:last-child {
  font-weight: 300;
  margin-left: 5px;
}





