* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

.container {
  background-image: url('./img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 460px;
  padding: 10px;
  
}

.card {
  background-color: #fff;
  border-radius: 5px;
  display: block;
  width: 100%;
  overflow-y: hidden;
  box-shadow: 5px 5px 5px 5px #0000002b;
  
}
.navigation-dots {
  text-align: center;
  margin-top: 20px;
}
.navigation-dots span{
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 60px;
  background-color: #DAD8DA;
  margin-right: 7px;
}

.navigation-dots span:last-child {
  margin-right: 0;
}

.navigation-dots .active {
  background-color: #9F9D9F;
}
.card h1 {
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  padding: 15px 0 45px 0;
}

.payment li {
  list-style: none;
  border-top: 1px solid #DAD8DA;
  padding: 20px 20px 20px 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  color: #afabaf;
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
}

.payment li:hover {
  background-color: #eceaec85;
}

.payment li img {
  height: 30px;
  margin-right: 10%;
}

.payment li span img {
  margin-right: 0;
  height: 23px;  
}
.check {
 margin-left: auto;
}
.next {
  background-color: #5180D8;
  width: 100%;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: background-color 0.2s;
  position: relative;
  top: 0;
  
}

.keydown {
  transition: top 0.05s;  
  top: 2px;
  
}

.next:hover {
 background-color:#4C82F2;
}

.next img {
  height: 14px;
  margin-left: 5px;
}


